$auth-block: #535c69;
$header: #868d95;
$button-success: #3bc8f5;
$button-success-hover: #21acd9;

.spacer {
  flex: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0;
  background-color: $header;
  color: #ffffff;
  font-weight: 600;
}

.navbar__left-block {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.navbar__left-block__logotext {
  outline: none;
  color: #ffffff;
  padding: 15px;
  font-size: 1.4rem;
  text-decoration: none;
}

.navbar__left-block__logotext:hover {
  color: $button-success;
}

.navbar__right-block {
  display: flex;
  align-items: center;
}

.navbar__right-block__item {
  cursor: pointer;
  font-size: 1.4rem;
  display: inline-block;
  color: #ffffff;
  padding: 0 10px;
  line-height: 60px;
  margin-left: 10px;
  text-decoration: none;
  outline: none;
}

.navbar__right-block__item:hover {
  color: $button-success;
}

.toolbar img {
  margin: 0 16px;
}

.active {
  background-color: #1569bf;
}

.navbar__right-block a:hover {
  background-color: #1569bf;
}

