<div class="icon-container">
  <!--  Download icon-->
  <app-routable-icon
    routerLink="/approved-budget"
    src="/assets/icons/download.svg"
    class="top-icons"
    alt="Скачать"
  ></app-routable-icon>

  <!--  Share icon-->
  <app-routable-icon
    routerLink="/approved-budget"
    src="/assets/icons/share.svg"
    class="top-icons"
    alt="Поделиться"
  ></app-routable-icon>

  <!--  Print icon-->
  <app-routable-icon
    routerLink="/approved-budget"
    src="/assets/icons/printer.svg"
    class="top-icons"
    alt="Распечатать"
  ></app-routable-icon>
</div>
