$aside: #EEF2F4;
$text: #535c69;

aside {
  padding-top: 70px;
  width: 250px;
  height: 100vh;
  background-color: $aside;
  border-right: 1px solid #cccccc;
}

.sidebar__item {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 3px 12px 4px 34px;
  font-size: 1.5rem;
  color: $text;
  cursor: pointer;
}

.sidebar__item a {
  color: $text;
}
